In [3]:
import pymysql
import pandas 

HOST = "127.0.0.1"
PORT = 3306
USER = "root"
PASSWORD = ""
DATABASE = "nba"

conn = pymysql.connect(host=HOST, port=PORT, user=USER, password=PASSWORD, database=DATABASE, charset='utf8mb4')

def get_all_2017_18_matchups():

    return pandas.read_sql_query("""
        SELECT
        COUNT(*) games_played,
        t1.name t1_team_name,
        t2.name t2_team_name
        FROM
            game_header gh,
            team t1,
            team t2
        WHERE
            gh.game_date >= '2017-07-01' AND
            gh.home_team_id = t1.team_id AND 
            gh.visitor_team_id = t2.team_id
        GROUP BY 2, 3
        ORDER BY 1 DESC
    """, conn)

games_df = get_all_2017_18_matchups()
for game in games_df:
    print(game)

neil
games_played
t1_team_name
t2_team_name